
 
<div class="registration-form m-3 p-4">
  <form [formGroup]="bookRegistrationForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book inventory number </mat-label>
          <input formControlName="doc_id"  matInput placeholder="inventory number" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book ISBN</mat-label>
          <input formControlName="bk_isbn"  matInput placeholder="book isbn">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book title</mat-label>
          <input formControlName="doc_title"  matInput placeholder="book title" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book edition</mat-label>
          <input formControlName="bk_edition" matInput placeholder="book edition">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book complementary title</mat-label>
          <input formControlName="doc_complementaryTitle" matInput placeholder="book complementary title">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book parallel title</mat-label>
          <input formControlName="doc_parallelTitle" matInput placeholder="book parallel title">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book set title</mat-label>
          <input formControlName="doc_setTitle" matInput placeholder="book set title">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book part number</mat-label>
          <input formControlName="doc_partNumber" matInput placeholder="book part number">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter year</mat-label>
          <input formControlName="doc_year" matInput placeholder="book year">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book's number of copies</mat-label>
          <input formControlName="doc_nbr_copies" matInput placeholder="book's number of copies">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book keywords</mat-label>
          <input formControlName="doc_keywords" matInput placeholder="book keywords">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book illustration</mat-label>
          <input formControlName="doc_illustration" matInput placeholder="book illustration">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book's number of pages</mat-label>
          <input formControlName="doc_nbr_pages" matInput placeholder="book's number of pages">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book material</mat-label>
          <input formControlName="doc_material" matInput placeholder="book material">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book length</mat-label>
          <input formControlName="doc_length" matInput placeholder="book length">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book abstract</mat-label>
          <textarea formControlName="doc_abstract" matInput placeholder="book abstract"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book notes</mat-label>
          <input formControlName="doc_notes" matInput placeholder="book notes">
        </mat-form-field>
      </div> 

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter the book subcollection</mat-label>
          <input type="text" matInput [matAutocomplete]="subAuto" placeholder="book subcollection" formControlName="scol_id">
          <a mat-icon-button matSuffix data-bs-toggle="modal" data-bs-target="#addsubCollection">
            <mat-icon>add</mat-icon>
          </a> 
          <mat-autocomplete #subAuto="matAutocomplete">
            <mat-option *ngFor="let scollc of filterScollections" [value]="scollc.scol_id">
              {{ scollc.scol_id }} | {{ scollc.scol_title }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter the book collection</mat-label>
          <input type="text" matInput [matAutocomplete]="colAuto" placeholder="book collection" formControlName="col_id">
          
          <a mat-icon-button matSuffix data-bs-toggle="modal" data-bs-target="#addCollection">
            <mat-icon>add</mat-icon>
          </a> 

          <mat-autocomplete #colAuto="matAutocomplete">
            <mat-option *ngFor="let collc of filterCollections" [value]="collc.col_id">
              {{ collc.col_id }} | {{ collc.col_title }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book language</mat-label>
          <input type="text" matInput [matAutocomplete]="langAuto" placeholder="book language" formControlName="lang_id">
          <mat-autocomplete #langAuto="matAutocomplete">
            <mat-option *ngFor="let lang of filterLanguages" [value]="lang.lang_id">
              {{ lang.lang_id }} | {{ lang.lang_label }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book country</mat-label>
          <input type="text" matInput [matAutocomplete]="countryAuto" placeholder="book country" formControlName="cntr_id">
          <mat-autocomplete #countryAuto="matAutocomplete">
            <mat-option *ngFor="let country of filterCountries" [value]="country.cntr_id">
              {{ country.cntr_id }} | {{ country.cntr_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book format </mat-label>
          <input type="text" matInput [matAutocomplete]="docFormatAuto" placeholder="book format" formControlName="docFrm_id">
          <mat-autocomplete #docFormatAuto="matAutocomplete">
            <mat-option *ngFor="let doc of filterFormat" [value]="doc.docFrm_id">
              {{ doc.docFrm_id }} | {{ doc.docFrm_label }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book category </mat-label>
          <input type="text" matInput [matAutocomplete]="docCatAuto" placeholder="book category" formControlName="docCat_id">
          <a mat-icon-button matSuffix data-bs-toggle="modal" data-bs-target="#addCategory">
            <mat-icon>add</mat-icon>
          </a> 
          <mat-autocomplete #docCatAuto="matAutocomplete">
            <mat-option *ngFor="let doc of filterCategory" [value]="doc.docCat_id">
              {{ doc.docCat_id }} | {{ doc.docCat_label }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter book Status </mat-label>
          <input type="text" matInput [matAutocomplete]="docStatAuto" placeholder="book status" formControlName="docStat_id">
          <mat-autocomplete #docStatAuto="matAutocomplete">
            <mat-option *ngFor="let doc of filterStatus" [value]="doc.docStat_id">
              {{ doc.docStat_id }} | {{ doc.docStat_label }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div> 
   
      
      
     <div class="col-md-6">
      <ng-multiselect-dropdown
      [placeholder]="'custom placeholder'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      formControlName="edt_id"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)" 
      >
    </ng-multiselect-dropdown>  
    </div>

    <div class="col-md-6">
      <ng-multiselect-dropdown
      [placeholder]="'custom placeholder'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      formControlName="edt_id"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)" 
      >
    </ng-multiselect-dropdown>  
    </div>
    <!-- 
    <div style="display: flex; align-items: center; gap: 2px; margin-top: 20px;">
      <button (click)="submit('bookRegistrationForm')" mat-raised-button [style.color]="'#fff'" [style.background-color]="'#6a17a6'" style="margin-right: 10px;">Add book</button>
      
      <button (click)="clearForm()" mat-raised-button [style.color]="'#fff'" [style.background-color]="'#6a17a6'" style="margin-right: 25px;">Clear</button>
      <label class="file-upload-button" >
        <input type="file" accept=".txt" (change)="onFileSelected($event)">
        <span class="button-text">Import from a file</span>
      </label>
    </div> -->
    

    </div>
    
    
    
  </form>
  <div style="display: flex; align-items: center; gap: 2px; margin-top: 20px;">
    <button (click)="submit('bookRegistrationForm')" class="btn btn-primary" style="margin-right: 10px;">
      <i class="bi bi-plus"></i>
      Add book
    </button>
  
    <button (click)="clearForm()" class="btn btn-primary" style="margin-right: 25px;">
      <i class="bi bi-x"></i>
      Clear
    </button>
  
    <label class="file-upload-button">
      <input type="file" accept=".txt" (change)="onFileSelected($event)">
      <span class="button-text">
        <i class="bi bi-cloud-upload"></i>
        Import from a file
      </span>
    </label>
  </div>

  <!-- Editor Modal -->
  <!-- 
  <div class="modal fade" id="addEditor" tabindex="-1" aria-labelledby="editorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editorModalLabel">Add Editor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

              <form [formGroup]="registrationForm"  >
                <div class="row g-3">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter name</mat-label>
                      <input formControlName="edt_name" required matInput placeholder="name">
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter adresse</mat-label>
                      <input formControlName="edt_adresse" required matInput placeholder="adresse">
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field  appearance="fill">
                      <mat-label>Enter book phone </mat-label>
                      <input formControlName="edt_phone" matInput placeholder="phone">
                      
                    </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter fax  </mat-label>
                      <input formControlName="edt_fax" matInput placeholder="fax">
                      
                    </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter email </mat-label>
                      <input formControlName="edt_email" matInput placeholder="email">
                      
                    </mat-form-field>
          
                  </div>
            
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter url </mat-label>
                      <input formControlName="edt_url" matInput placeholder="url">
                      
                    </mat-form-field>
          
                  </div>
          
                  
                   
                   
                </div>
                 
                 
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          
          <button type="button" class="btn btn-primary"> Add </button>  <!-- (click)="update()" -->
          <!--<button *ngIf="!isUpdateActive" (click)="submit()" type="button" class="btn btn-primary"> Submit </button>
          
        </div>
      </div>
    </div>
  </div>  -->
  <!-- -------------------------------------------------------------------------------- -->
  
  <!-- subCollection Modal -->
   
  <div class="modal fade" id="addsubCollection" tabindex="-1" aria-labelledby="subCollectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="subCollectionModalLabel">Add subCollection </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

              <form [formGroup]="subCollectionRegistrationForm"  >
                <div class="row g-3">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter ISSN </mat-label>
                      <input formControlName="scol_issn" matInput placeholder="issn">
                      
                    </mat-form-field>
          
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter title</mat-label>
                      <input formControlName="scol_title" required matInput placeholder="title">
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter parallel title </mat-label>
                      <input formControlName="scol_parallelTitle" required matInput placeholder="parallel title">
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field  appearance="fill">
                      <mat-label>Enter complementary title </mat-label>
                      <input formControlName="scol_complementaryTitle" matInput placeholder="complementary title">
                      
                    </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter responsability  </mat-label>
                      <input formControlName="scol_responsability" matInput placeholder="responsability">
                      
                    </mat-form-field>
          
                  </div>
          
            
                </div>
                 
                 
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          
          <button type="button" (click)="submit('subCollectionRegistrationForm')" class="btn btn-primary"> Add </button>  <!-- (click)="update()" -->
          <!--<button *ngIf="!isUpdateActive" (click)="submit()" type="button" class="btn btn-primary"> Submit </button>
          --->
        </div>
      </div>
    </div>
  </div> 
  <!-- -------------------------------------------------------------------------------- -->

  <!-- Collection Modal -->
  <div class="modal fade" id="addCollection" tabindex="-1" aria-labelledby="collectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="collectionModalLabel">Add subCollection </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

              <form [formGroup]="collectionRegistrationForm"  >
                <div class="row g-3">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter ISSN </mat-label>
                      <input formControlName="col_issn" matInput placeholder="issn">
                      
                    </mat-form-field>
          
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter title</mat-label>
                      <input formControlName="col_title" required matInput placeholder="title">
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter parallel title </mat-label>
                      <input formControlName="col_parallelTitle" required matInput placeholder="parallel title">
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field  appearance="fill">
                      <mat-label>Enter complementary title </mat-label>
                      <input formControlName="col_complementaryTitle" matInput placeholder="complementary title">
                      
                    </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter responsability  </mat-label>
                      <input formControlName="col_responsability" matInput placeholder="responsability">
                      
                    </mat-form-field>
          
                  </div>
          
            
                </div>
                 
                 
                </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          
          <button  type="button" (click)="submit('collectionRegistrationForm')" class="btn btn-primary"> Add </button> <!--  (click)="update()" -->
          <!--<button *ngIf="!isUpdateActive" (click)="submit()" type="button" class="btn btn-primary"> Submit </button>
          -->
        </div>
      </div>
    </div>
  </div> 

  <!-- Category Modal -->
  <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="collectionModalLabel">Add Category </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

              <form [formGroup]="categoryRegistrationForm"  >
                <div class="row g-3">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter New Category </mat-label>
                      <input formControlName="docCat_label" matInput placeholder="category">
                      
                    </mat-form-field>
          
                  </div>
                  
                </div>
                 
                 
                </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          
          <button  type="button" (click)="submit('categoryRegistrationForm')" class="btn btn-primary"> Add </button> <!--  (click)="update()" -->
          <!--<button *ngIf="!isUpdateActive" (click)="submit()" type="button" class="btn btn-primary"> Submit </button>
          -->
        </div>
      </div>
    </div>
  </div> 


  
</div> 
