<div class="container col-md-6 col-xl-4">
    <h1> User Login</h1>
    <form (ngSubmit)="userLogin()">
        <div class="mb-3">
            <label for="userLogin" class="form-label">User Login</label>
            <input type="text" [(ngModel)]="user.userId" class="form-control" id="userlogin" name="loginInput">
        </div>
        <div class="mb-3">
            <label for="userPassword" class="form-label">User Password</label>
            <input type="password" [(ngModel)]="user.userPassword" class="form-control" id="userPassword" name="passwordInput">
        </div>
        <button type="submit" class="btn btn-primary col-3">Login</button>      
    </form>
</div>