<div   class="book-header row bg-light  mb-2  mat-elevation-z3" >
    <h2 class="me-5  col-auto m-0 " >Books</h2>
    <a   (click)="openTab('/book/add',null)" class="col-auto"><i class="bi bi-plus-lg fa-6x" style="color:#6a17a6; font-size:  2em;"></i></a>

    <div class="col-auto ms-auto me-0">
      <mat-form-field >
        <input matInput type="text" (keyup)="applyFilter($event,'bk_isbn')" placeholder="ISBN">
      </mat-form-field>

      <mat-form-field >
        <input matInput type="text" (keyup)="applyFilter($event,'title')" placeholder="Title">
      </mat-form-field>

      <mat-form-field >
        <input matInput type="text" (keyup)="applyFilter($event,'bk_isbn')" placeholder="ISBN">
      </mat-form-field>
    </div>

</div>

<div class="book-body  row mb-2 p-0 mat-elevation-z3 " >


<table  mat-table [dataSource]="dataSource" matSort><!--  matSortStart="desc">-->

   
    <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

    <ng-container matColumnDef="doc_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let book"> {{book.doc_id}} </td>
    </ng-container>

    <ng-container matColumnDef="bk_isbn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> isbn </th>
        <td mat-cell *matCellDef="let book"> {{book.bk_isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="doc_title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
        <td mat-cell class="multiline-cell"  *matCellDef="let book"> {{book.doc_title}} </td>
    </ng-container>
    <ng-container matColumnDef="bk_edition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> edition </th>
        <td mat-cell *matCellDef="let book"> {{book.bk_edition}} </td>
    </ng-container>
    <ng-container matColumnDef="doc_year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> year </th>
      <td mat-cell *matCellDef="let book"> {{book.doc_year}} </td>
    </ng-container>
    <ng-container matColumnDef="doc_nbr_copies">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> nbr copies </th>
      <td mat-cell *matCellDef="let book"> {{book.doc_nbr_copies}} </td>
    </ng-container>
    <ng-container matColumnDef="collectionns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> collection </th>
      <td mat-cell *matCellDef="let book"> {{book. coll_col_id}} </td>
    </ng-container>

    <!-- 
    <ng-container matColumnDef="doc_complementaryTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> complementary title </th>
        <td mat-cell *matCellDef="let book"> {{book.doc_complementaryTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="doc_parallelTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> parallel title </th>
        <td mat-cell *matCellDef="let book" style="text-align: center;"> {{book.doc_parallelTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="doc_setTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> set title </th>
        <td mat-cell *matCellDef="let book"> {{book.doc_setTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="doc_partNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> part number </th>
      <td mat-cell *matCellDef="let book"> {{book.doc_partNumber}} </td>
  </ng-container>
  
  <ng-container matColumnDef="doc_keywords">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> keywords </th>
    <td mat-cell *matCellDef="let book"> {{book.doc_keywords}} </td>
  </ng-container>
  <ng-container matColumnDef="doc_illustration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> illustration </th>
    <td mat-cell *matCellDef="let book"> {{book.doc_illustration}} </td>
  </ng-container>
  <ng-container matColumnDef="doc_nbr_pages">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> nbr pages </th>
    <td mat-cell *matCellDef="let book"> {{book.doc_nbr_pages}} </td>
  </ng-container>
  <ng-container matColumnDef="doc_material">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> material </th>
    <td mat-cell *matCellDef="let book"> {{book.doc_material}} </td>
  </ng-container>
  <ng-container matColumnDef="doc_length">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> length </th>
    <td mat-cell *matCellDef="let book"> {{book.doc_length}} </td>
  </ng-container>
  <ng-container matColumnDef="doc_abstract">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> abstract </th>
    <td mat-cell *matCellDef="let book"> {{book.doc_abstract}} </td>
  </ng-container>
  <ng-container matColumnDef="doc_notes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> notes </th>
    <td mat-cell *matCellDef="let book"> {{book.doc_notes}} </td>
  </ng-container> -->

      <ng-container matColumnDef="details">
         <th mat-header-cell *matHeaderCellDef > Details </th>
         <td mat-cell *matCellDef="let book">
          <a mat-icon-button color="primary" (click)="redirectToDetails(book)">
            <mat-icon class="mat-18" style="color: #570f8a">reorder</mat-icon>
          </a>
          </td>
      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let book">
          <a mat-icon-button color="accent" data-bs-toggle="modal" data-bs-target="#addModal" >
              <mat-icon class="mat-18" style="color: rgb(123, 183, 5);">system_update</mat-icon>
          </a>
        </td>
      </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let book">
              <a mat-icon-button color="warn" (click)="redirectToDelete(book.doc_id)">
                  <mat-icon class="mat-18" style="color:red;">delete</mat-icon>
              </a>
            </td>
          </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row;columns:displayedColumns"> </tr>
  </table>
  <mat-paginator 
  [pageSizeOptions]="[10, 30, 50]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
    </mat-paginator>


  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">update book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

              <form [formGroup]="updateForm"  >
                <div class="row g-3">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter ISBN</mat-label>
                      <input formControlName="bk_isbn" required matInput placeholder="bk_isbn" >
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter Title</mat-label>
                      <input formControlName="doc_title" required matInput placeholder="doc_title" >
                      
                    </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field  appearance="fill">
                      <mat-label>Enter book edition </mat-label>
                      <input formControlName="bk_edition" matInput placeholder="bk_edition" >
                      
                    </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter complementary title </mat-label>
                      <input formControlName="doc_complementaryTitle" matInput placeholder="doc_complementaryTitle" >
                      
                    </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter parallel title </mat-label>
                      <input formControlName="doc_parallelTitle" matInput placeholder="doc_parallelTitle" >
                      
                    </mat-form-field>
          
                  </div>
            
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter set title </mat-label>
                      <input formControlName="doc_setTitle" matInput placeholder="doc_setTitle">
                      
                    </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter part number </mat-label>
                      <input formControlName="doc_partNumber" matInput placeholder="doc_partNumber" >
                      
                     </mat-form-field>
          
                  </div>
                   
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter year </mat-label>
                      <input formControlName="doc_year" matInput placeholder="doc_year" >
                      
                     </mat-form-field>
          
                  </div>
                   
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter number of copies </mat-label>
                      <input formControlName="doc_nbr_copies" matInput placeholder="doc_nbr_copies" >
                      
                     </mat-form-field>
          
                  </div>
                   
                  <div class="col-md-6"> 
                    <mat-form-field appearance="fill">
                      <mat-label>Enter keywords</mat-label>
                      <input formControlName="doc_keywords" matInput placeholder="doc_keywords" >
                      
                     </mat-form-field>
          
                  </div>
          
                  <div class="col-md-6"> 
                    <mat-form-field appearance="fill">
                      <mat-label>Enter illustration </mat-label>
                      <input formControlName="doc_illustration" matInput placeholder="doc_illustration" >
                     
                     </mat-form-field>
          
                  </div>
                  <div class="col-md-6"> 
                    <mat-form-field appearance="fill">
                      <mat-label>Enter number of pages</mat-label>
                      <input formControlName="doc_nbr_pages" matInput placeholder="doc_nbr_pages" >
                      
                     </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6"> 
                    <mat-form-field appearance="fill">
                      <mat-label>Enter material </mat-label>
                      <input formControlName="doc_material" matInput placeholder="doc_material" >
                      
                     </mat-form-field>
          
                  </div>
                  <div class="col-md-6"> 
                    <mat-form-field appearance="fill">
                      <mat-label>Enter length </mat-label>
                      <input formControlName="doc_length" matInput placeholder="doc_length" >
                      
                     </mat-form-field>
          
                  </div>
                  <div class="col-md-6"> 
                    <mat-form-field appearance="fill">
                      <mat-label>Enter abstract </mat-label>
                      <input formControlName="doc_abstract" matInput placeholder="doc_abstract" >
                      
                     </mat-form-field>
          
                  </div>
                  
                  <div class="col-md-6">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter notes </mat-label>
                      <input formControlName="doc_notes" matInput placeholder="doc_notes">
                      
                     </mat-form-field>
          
                  </div>
                   
                   
                   
                </div>
                 
                 
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          
          <button (click)="update()" type="button" class="btn btn-primary"> Update </button>  
          <!--<button *ngIf="!isUpdateActive" (click)="submit()" type="button" class="btn btn-primary"> Submit </button>
          -->
        </div>
      </div>
    </div>
  </div> 

</div>
<!-- 
<div *ngIf="!clickedRows.size">

    Clicked rows will be logged here
  </div>
-->
  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{clickedRow.doc_title}}
    </li>
  </ul> 

  