.addUpdateThesisContainer mat-form-field {
    display: block;
      }
      mat-form-field {
        width: 80%;
      }
      .file-upload-button {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 120px;
        height: 40px;
        background-color: #6a17a6;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        }
        .file-upload-button input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        }
        .button-text {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          } 