
<div class="container-fluid py-3">
    <h1>Books Statistics</h1>
    
    <div class="row mt-5">
        <div class="col-4 ">
            <div id="chart-pie2"></div>
        </div>
    </div>


    <div class="row mt-5">
      <div class="col-4 ">
        <div id="chart-gauge"></div>
      </div>
      <div class="col-4">
        <div id="chart-pie"></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4 ">
        <div id="chart-column"></div>
      </div>
      <div class="col-4 ">
        <div id="chart-line"></div>
      </div>
    </div>
    </div>
    